html, body, table {
	font-family: "Arial", Sans-serif;
}

.invoice-header-main {
	min-width: 700px;
	width: 700px;
	min-height: 153px;
	height: 153px; /*<-- 60mm*/
	border: 1px solid black;
	border-radius: 20px;
}

.invoice-header-buyer {
	min-width: 400px;
	width: 400px;
	min-height: 115px;
	height: 115px; /*<-- 30mm*/
	border: 1px solid black;
	border-radius: 20px;
	float: left;
}

.invoice-header-transport{
	min-width: 300px;
	width: 300px;
	min-height: 115px;
	height: 115px; /*<-- 60mm*/
	border: 1px solid black;
	border-radius: 20px;
	float: left;
}

#wrapper {
  min-width: 700px;
  width: 700px;
  min-height: 115px;
  height: 115px; /*<-- 60mm*/
  display: flex;
  padding-top: 3px;
}
#left {
  flex: 0 0 55%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  padding-top: 0px;
  font-size: 11px;
}
#right {
  flex: 1;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 3px;
  padding: 10px;
  font-size: 11px;
}
.invoice-lines {
	margin-top: 3px;
	width: 700px;
	
}
.invoice-lines table {
	border-collapse: collapse;
	width: 100%;
	font-size: 9px;
	
	
}
.invoice-lines table tr th {
	padding: 6px;
	font-weight: normal;
	background-color: #DCDDDF;
	font-size: 10px;
}
.invoice-lines table tr td {
	height: 18px;
	text-align: center;
	font-size: 13px;
}
.invoice-lines table tr td.description {
	height: 18px;
	text-align: left;
}
.invoice-lines table tr td.amount {
	height: 18px;
	text-align: right;
	padding-right: 5px;
}
#no {
	text-align: center;
}
#paisa {
	width: 5%;
	text-align:center;
}
.total_tax.tax_name {
	padding: 3px;
	font-weight: 900;
	font-size: 10px;
	background-color: #DCDDDF;
}
#gst {
	font-weight: 900;
	font-size: 11px;
	text-align: center;
}
#vat_cst {
	font-weight: normal;
	font-size: 10px;
	text-align: center
}
#amount_in_words {
	font-weight: 900;
	font-size: 20px;
}
#account_details {
	font-weight: 900;
	padding-left: 10px;
	font-size: 8px;
}
.invoice_footer {
  min-width: 700px;
  width: 700px;
  min-height: 130px;
  height: 130px;
  display: flex;
  padding-top: 3px;
}
.invoice_footer #left {
  flex: 0 0 70.5%;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
}
.invoice_footer #right {
  flex: 1;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 3px;
  height: 118px;
  padding-top: 0;
  
}

.invoice_footer #right img {
	height: 30px;
	width: 130px;
    padding-right: 16px;
}
#top-heading {
	display: inline;
	margin-left: 8em;
	padding:0;
}

ul#invoice-legend
{
	list-style: none;
	display: inline;
	padding: 5px 10px 2px;
	margin: 0;
	float: left;
	font-size: 12px;
}

.logo {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	margin-top: 2em;
}
#images {
   text-align:center;
   margin-top: -17px;
}
.name_box {
    border: none;
	border-bottom: 1px solid black;
	width: 21.2em;
	font-size: 14px;
	padding-left: 29px;
	margin-left: 1em;
	
}
.address_box_1 {
    border: none;
    border-bottom: 1px solid black;
    width: 24.6em;
    font-size: 12px;
    padding-left: 29px;
    margin-left: 2px;
    text-transform: capitalize;
}

.address_box_2 {
    border: none;
    border-bottom: 1px solid black;
    width: 25.0em;
    font-size: 12px;
    padding-left: 29px;
    margin-left: 3.9em;
    text-transform: capitalize;
}

.gstn_box {
	border: none;
    border-bottom: 1px solid black;
    width: 21.3em;
    font-size: 14px;
    margin-left: 12px;
    padding-left: 27px;
}

.state_box {
    border: none;
    border-bottom: 1px solid black;
    width: 21.2em;
    font-size: 14px;
    padding-left: 28px;
    margin-left: 1.2em;
}

.inv_num_box {
    border: none;
    border-bottom: 1px solid black;
    width: 8em;
    font-size: 16px;
    padding-left: 17px;
    font-weight: 900;
}

.inv_date_box {
    border: none;
    border-bottom: 1px solid black;
    width: 9.5em;
    font-size: 14px;
    padding-left: 16px;
    margin-left: 18px;
}

.transport_box {
    border: none;
    border-bottom: 1px solid black;
    width: 10.9em;
    font-size: 12px;
    margin-left: 28px;
    padding-left: 19px;
}

.challan_no_box {
    border: none;
    border-bottom: 1px solid black;
    width: 9.3em;
    font-size: 14px;
    margin-left: 22px;
    padding-left: 18px;
}
img.top {
	vertical-align: text-top;
}

#watermark{
   background:url(images/mb_logo.png) no-repeat; 
   width: 100px;
   height: 100px;
   position: relative;
   top: 0;
   left: 0;
}
#image{
   width: 100px;
   height: 100px;
   position: relative;
   top: 0;
   left: 0;
}
.uppercase {
	text-transform: uppercase;
}

.grand_total {
    font-weight: 900;
}

.original_content {
    page-break-after: always;
}