.form-group label {
	margin-top: 20px;
}

.form-group div input, textarea, select, .select2 {
	margin-top: 20px;
}

.select2-container .select2-selection--single {
	height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 5px;
    right: 5px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-top: 4px;
}

td .select2 {
	margin-top: 0px;
}

td select {
	margin-top: 0px;
}

.top-20 {
	margin-top: 20px
}

.error {
	color: #FF0000;
}

.input-group input {
  border-right: 0px solid transparent;
}

.input-group .input-group-addon {
  background-color: transparent;
  border-left: 0px solid transparent;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

#processing_image.overlay{
  background: rgba(255,255,255,0.8);
    position: fixed;
}
.overlay
{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}
#processing_image .processing_wrapper  .processing_img
{
  margin: 20% auto;
    height: 120px;
    overflow: hidden;
    width: 120px;
    position: relative;
}
#preloader
{
  position: absolute;
    width: 120px;
    height: 120px;
    border-top: 5px solid #636b6f;
    border-bottom: 5px solid #636b6f;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 120px;
    top: 0;
    left: 0;
    animation-name: rotate;
    -webkit-animation-name: rotate;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
span.preloader_span
{
  position: relative;
    top: 50px;
    display: block;
    width: 100%;
    text-align: center;
    width: 120px;
    height: 20px;
    font-size: 14px;
    color: #636b6f;
    font-family: "Ubuntu Regular";
}
@keyframes rotate { 
	0% {transform: rotate(0deg);-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-moz-transform: rotate(360deg);-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);}
}
@-webkit-keyframes rotate { 
	0% {transform: rotate(0deg);-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);}
    100% { transform: rotate(360deg); -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg);}
}
@media only screen and (max-width: 767px) and (min-width: 300px){
 
 .logo-name {
    margin: 30px -15px;
    font-weight:500;
  }
  .middle-box h1
  {
    font-size: 100px;
  }
    
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 5px;
}
table#invoice-table tr th {
    text-align: center;
    min-width: 100px;
}

table#invoice-table tr td {
    text-align: center;
    padding: 10px 5px;
}

table#invoice-table tr th.wide_col {
    min-width: 180px;
}

table#invoice-table tr td.amount_col {
    text-align: right;
    padding-right: 10px;
}

table#invoice-table tr th.clickable {
    cursor: pointer;
    cursor: hand;
    text-align: center;
}

i.glyphicon-sort {
        padding-right: 8px;
        vertical-align: bottom;
}

.adjust-single-line-header {
    padding-top: 12px;
}

#no_of_record {
    margin-top: 0;
    width: 63px;
    padding: 0;
    padding-left: 10px;
}

.table_header {
    margin-bottom: 20px;
}

.btn-red {
    color: #fff;
    background-color: #c4252f;
    border-color: #c4252f;
}

.btn-red:hover {
    color: #fff;
}

.btn-red:active {
    color: #fff;
}

.btn-red:focus {
    color: #fff;
}

table#invoice-table tr th#action-col {
    min-width: 150px;
}

.btn-tarquine {
    color: #fff;
    background-color: #61edb9;
    border-color: #61edb9;
}

.btn-tarquine:hover {
    color: #fff;
}

.btn-tarquine:active {
    color: #fff;
}

.btn-tarquine:focus {
    color: #fff;
}

.buyer_table tr th td {
  min-width: 150px;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

/*body {*/
/*  background-image: url('../images/mb_watermark.png');*/
/*  background-size: 60px 60px;*/
/*  background-color: #7F7F7F;*/
/*}*/